version: '3.9'

services:
  db:
    container_name: postgres
    image: postgres:latest
    env_file:
      - core/.env
    environment:
    - POSTGRES_USER=postgres
    - POSTGRES_PASSWORD=postgres
    - POSTGRES_DB=foo
    ports:
      - "5433:5432"
    restart: always
  app:
    build: .
    depends_on:
      - db
    command: > 
      bash -c "alembic upgrade head && uvicorn main:app --reload --port=8000 --host=0.0.0.0"
    volumes:
      - .:/src
    ports:
      - "8000:8000"
    restart: always
    env_file:
      - core/.env

